section {
    width: 1000px;
    margin: auto;
}

table#allResumes {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

table#allResumes th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

table#allResumes th {
    background-color: palegreen;
}

table#allResumes tr:nth-child(even) {
    background-color: #f2f2f2
}

#col3, #col4 {
    text-align: center;
}

input[type=text], input[type=tel], input[type=email], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

textarea {
    height: calc(1em * 1.5 * 5);
}

input[type=button], input[type=submit] {
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit {
    background-color: #4CAF50;
    float: left;
    width: 49%;
}

#submit:hover {
    background-color: #45a049;
}

#cancel {
    background-color: #f44336;
    float: right;
    width: 49%;
}

#cancel:hover {
    background-color: #E04035;
}

#ok {
    background-color: #4CAF50;
    width: 100%;
}

#ok:hover {
    background-color: #45a049;
}

label {
    font-weight: bold;
    padding: 5px 10px 10px 0;
    display: inline-block;
}

ul {
    list-style-position: outside;
}

.container-edit {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 20px 15px 20px;
    margin: 20px 0;
}

.container-edit-2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-left: 30px;
}

.container-edit-3 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0;
}

.container-edit-4 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 20px;
}

.container-view {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px 20px;
    margin: 20px 0;
}

.container-view-2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-left: 25px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-25-right {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: right;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.font-normal {
    font-weight: normal;
}

header, footer {
    background: none repeat scroll 0 0 lightskyblue;
    color: skyblue;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
}

img {
    height: 18px;
}

a[href^="skype:"] {
    padding-left: 20px !important;
    background: url(../img/skype.png) no-repeat center left;
}

a[href^="mailto:"] {
    padding-left: 20px !important;
    background: url(../img/email.png) no-repeat center left;
}

a[href^="https://stackoverflow.com"] {
    padding-left: 20px !important;
    background: url(../img/so.png) no-repeat center left;
}

a[href*="github."] {
    padding-left: 20px !important;
    background: url(../img/gh.png) no-repeat center left;
}
